*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

input, button{
  appearance: none;
  background: none;
  border: none;
  outline: none;

}

.App{
  height:100vh;
  display:flex;
  align-items: flex-start;
  background-color: rgb(253, 253, 253);
  justify-content: center;

  
 
}

.App .Welcome .bg{

  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;

}



form{
  display: block;
  position: relative;
}

form:after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right , #FFCE00,#FE4880);
}


form .form-inner{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2{
  color: gray;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight:500;
}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}


.form-inner .form-group label{
  display: block;
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.5s;
}

form .form-inner .form-group :focus-within label{
  color: brown;

}

form .form-inner .form-group input{
  display: block;
  width:100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgb(0,0,0,0.2);
}

form .form-inner input[type="submit"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, Yellow 50%, yellow 50%,red 50%);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: red;
  font-weight: 700;
  cursor: pointer;

}





