.features-boxed {
    color: #f1faee;
    background-color: var(--bs-gray-dark);
}

.features-boxed p {
    color: #7d8285;
}

.features-boxed h2 {
    font-weight: normal;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
    font-family: 'Lilita One', cursive;
    font-size: 3em;
}

@media (max-width: 767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 2em;
    }
}

.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.features-boxed .intro p {
    margin-bottom: 0;
}

.features-boxed .features {
    padding: 50px 0;
}

.features-boxed .item {
    text-align: center;
}

.features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 80px;
}

.features-boxed .item .menu-img {
    
    margin-top: 20px;
    margin-bottom: 35px;
    height: 200px;
}

.features-boxed .item .name {
    margin-bottom: 8px;
    margin-top: 0;
    color: var(--bs-gray-dark);
}

.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.price {
    font-size: 1em;
}



span {
    margin-left: 10px;
}
#order{
    background-color: green;

}

#price{
    background-color: rgb(230, 117, 12);
}

