  
a{
color: #c02a36;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.2rem;
transition:0.3s ease-in-out;
font-family: Arial;
font-size: medium;
align-items: center;


}
a:hover{
    color: rgb(213, 33, 33)    ;
}